[2017-04-08 21:57] lynncyrin opened #1 "Change homepage homepage icon to lil cat tooting"

[2017-04-08 21:57] lynnco commented on #1
s/icon/image

the one here https://toot.cat/about

[2017-04-08 22:14] lynncyrin opened #2 "Change status posting button to a lil cat tooting"

[2017-04-08 22:47] lynnco opened #3 "Add epilepsy to CoC beside violent / sexualized content"

[2017-04-08 23:54] lynnco commented on #3
done! https://github.com/TootCat/mastodon/wiki/Code-of-Conduct/_compare/5c6362f04ad51c49b9088a320f4b0bf1d55828e5...41432d2c42ba9be52f2710b8b5c7b77f41271c0b

[2017-04-08 23:54] #3 closed

[2017-04-08 23:55] lynncyrin opened #4 "Add enforcement details to the CoC"

[2017-04-09 00:31] lynnco opened #5 "Create a javascript plugin for disabling animation in profile pictures"

[2017-04-09 00:31] lynnco commented on #5
although... javascript means its web only. there's ways to do this on the backend, but they might not be worth it

[2017-04-09 08:45] lynnco commented on #5
closing in favor of https://github.com/tootsuite/mastodon/issues/596 !

[2017-04-09 08:45] #5 closed

[2017-04-09 20:05] ubiquill commented on #4
Discussing measures of warning, the difference between silence and suspend, and even taking steps to report people to other instances as well should probably all be outlined.

[2017-04-09 21:34] ubiquill opened #6 "We need a robots.txt to protect toots from being indexed"
If we want to add a whitelist of people who want to be indexed we can, but we should default to not indexing.

Relevant discussion: https://toot.cat/web/statuses/101818
* * * *

- [ ] I searched or browsed the repo’s other issues to ensure this is not a duplicate.

[2017-04-09 21:43] ubiquill commented on #6
For now lets just disallow all. We can make this a governance issue later in another ticket.

[2017-04-09 21:43] #6 closed

[2017-04-10 02:07] ashyon opened #7 "Make columns fill screen on larger displays"
(possibly submit a PR to upstream? not sure how they would like it)

[2017-04-10 02:10] ubiquill opened #8 "Better deployment process"
really, we need a script that given a branch or commit will update the project and run rake jobs. That way we can all do deploys without logging in and tinkering around manually.
* * * *

- [ ] I searched or browsed the repo’s other issues to ensure this is not a duplicate.

[2017-04-10 03:39] wavebeem commented on #7
imo you should just open an issue and also a PR at the same time, with before and after screenshots. based on what i've seen on the fediverse, LOTS of people want this...

[2017-04-11 15:50] ubiquill opened #11 "Wipe IP Addresses after 48 hours"
We should add the option to wipe IP addresses. They are nice to have in case we need to IP block trolls, but I can't imagine a scenario where we would not have dealt with this in 48 hours.

Proposed Fix: a rake job that can be invoked every 24 hours to wipe IP addresses that are older than a certain age.

* * * *

- [ ] I searched or browsed the repo’s other issues to ensure this is not a duplicat

[2017-04-11 15:59] wxcafe commented on #11
you probably don't need a rake job. You can probably make a crontab that deletes the nginx logs from >2 days

[2017-04-11 16:01] ubiquill commented on #11
the last known ip address of each  user is stored in the db

[2017-04-11 16:02] wxcafe commented on #11
Oh, right. Sorry.

[2017-04-11 16:48] iangreenleaf commented on #1
🐈💨

[2017-04-11 17:06] ubiquill commented on #1
@witchprincess@witches.town agreed to draw us a logo. I'm thinking a kitten in a mastodon kigurumi 😄

[2017-04-11 17:47] lynnco commented on #1
I'd love that! it was exactly what I was thinking of

[2017-04-11 17:48] wavebeem commented on #1
nice

[2017-04-11 17:48] ashyon commented on #1
sweet!

[2017-04-11 18:02] ashyon opened #12 "Make toot.cat more accessible to people with different levels of vision"
Many aspects of the website are hard to distinguish. Examples include:
- Faded text in the notifications column
- Faded text in empty columns
- The eye button in the top left of images (hard to see for me, too)
- Search bar?

List any others you can think of in the comments, please and thank you.

I'll be working to fix these issues in my spare time.

* * * *

- [x] I searched or browsed the repo’

[2017-04-11 18:09] wavebeem commented on #12
This is great. FYI this is the upstream issue https://github.com/tootsuite/mastodon/issues/317

[2017-04-11 18:09] lynncyrin opened #13 "Update CoC to ban brands"

[2017-04-11 18:19] ubiquill commented on #13
we should probably add some guidance for self promotion as well. I think there is a big difference between an indie artist posting a link to  their etsy and a brand. We should probably distinguish that somehow.

[2017-04-11 18:21] lynnco commented on #13
Yea, we want wording that allows artists making $200/month to talk about their patreon, while also disallowing Walmart

[2017-04-11 18:21] ashyon commented on #12
Thanks @wavebeem :)

[2017-04-11 18:21] wavebeem commented on #13
Definitely!

On Tue, Apr 11, 2017 at 11:19 AM Briar Rose Schreiber <
notifications@github.com> wrote:

[2017-04-11 18:31] ashyon commented on #12
![2017-04-11_14 30 43](https://cloud.githubusercontent.com/assets/9281956/24924635/7949dc86-1ec3-11e7-9f57-29ea0197c3c6.png)
![2017-04-11_14 30 28](https://cloud.githubusercontent.com/assets/9281956/24924634/7948c5b2-1ec3-11e7-8b6a-b1cdacf2a79e.png)

[2017-04-11 18:33] ashyon commented on #12
Of course, the colors can and should be changed for this but it's just an example of how it could look

[2017-04-11 18:43] wavebeem commented on #12
that would be very nice! alternatively you could just add a line around the
quoted toot.

On Tue, Apr 11, 2017 at 11:33 AM Ash <notifications@github.com> wrote:

[2017-04-11 19:31] ashyon commented on #1
My girlfriend is drawing us a replacement image for the getting started column btw, when she's done I'll post it here and you all can say what you think.

[2017-04-12 00:13] ashyon opened #14 "Strip EXIF data from images"
This is very important to user privacy. EXIF data may contain information such as GPS location and date/time, etc.

* * * *

- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.

[2017-04-12 00:19] ashyon commented on #14
Oops, never mind. Accidentally identified the pre-upload image. I believe that the important data is stripped already.

[2017-04-12 00:19] #14 closed

[2017-04-12 06:00] ashyon opened #16 "Add ability for users to customize colors"
As explained in https://toot.cat/@ghost/166982, some of the colors used in our theme are hard for certain users to see. We should come up with a way to specify colors for the theme in the user settings. This will be difficult, as the SCSS code is precompiled so maybe a solution to this would be multiple themes that the user can select from? That shouldn't be too difficult.

[2017-04-12 06:20] ashyon commented on #16
Looks like @stitchxd@gnusocial.me will work on some client-side userstyles as a temporary solution while we tackle this issue.

[2017-04-12 16:10] lynncyrin opened #17 "Theme reversion and re-appraisal"
The new pink toned theme is quite a lot harder for me to see, and I saw at least one other person have an issue with it. I'd like the theme change to be reverted (back to mastodon's basic setup) on a11y grounds, and re-proposed but given at least a few days for feedback and updates.

[2017-04-12 16:18] ubiquill commented on #17
Yeah I tend to agree. Feel free to revert. I don't know if I'll have time
today

On Apr 12, 2017 9:10 AM, "Lynn Cyrin" <notifications@github.com> wrote:

[2017-04-12 16:20] wavebeem commented on #17
Yeah, if people are having a harder time reading it, I think we need to undo it. We could just revert the colors but keep the new graphics though? @ashyon should just be a change to the variables.scss file right?

[2017-04-12 16:39] ashyon commented on #17
Yeah if it's an issue then I have no problem undoing it. @wavebeem yeah just revert the variables.scss and it'll all switch back. I think I also changed the logo/icon color so revert the svg and png for that as well.

[2017-04-12 16:40] ashyon commented on #17
I'm thinking to start work on a theme selector so that users have more control over their experience anyway.

[2017-04-12 16:42] wavebeem commented on #17
Do you wanna do the revert? I can take a look at it tonight probably like 7 or 8 otherwise.

[2017-04-12 16:42] lynnco commented on #17
I brought my hobby dev laptop with me to work today, so I can get it done @ 1230

[2017-04-12 16:48] ashyon commented on #17
Reverted the change. Ready to deploy.

[2017-04-12 18:39] ubiquill commented on #17
the bottom of the production guide has the instructions for updating. After doing the git changes the important steps are gonna be:

RAILS_ENV=production bundle exec rails assets:precompile

and

sudo systemctl restart mastodon-*.service

[2017-04-12 18:42] ubiquill commented on #16
this is cool, but would probably take a bit of work. We would probably have to add a user setting to the db as well as a widget in settings to select a theme

[2017-04-12 18:45] ashyon commented on #16
Yeah. I'm not exactly sure how to go about it, which is why I haven't started yet.

[2017-04-12 18:46] wavebeem commented on #16
I know there's a big demand for having a light theme too so this'll be
handled upstream eventually I'm sure.

On Wed, Apr 12, 2017 at 11:42 AM Briar Rose Schreiber <
notifications@github.com> wrote:

[2017-04-12 18:46] ashyon commented on #17
Who has SSH access and can deploy the changes?

[2017-04-12 18:50] wavebeem commented on #17
I don't have my key on my work laptop so I can't until I get home.

On Wed, Apr 12, 2017 at 11:46 AM Ash <notifications@github.com> wrote:

[2017-04-12 18:50] lynnco commented on #17
I do, I'll deploy in the next hour

[2017-04-12 18:51] ashyon commented on #17
Cool :3

[2017-04-12 18:53] wavebeem commented on #16
yeah unfortunately this is an incredibly involved task imo, especially doing it in a way that won't make further development extra tricky.

[2017-04-12 18:55] ashyon commented on #16
I guess for now we can just use a theme with some of our own accessibility tweaks

[2017-04-12 19:50] lynnco commented on #17
I'll be reverting to immediately before the theme merge, so this commit https://github.com/TootCat/mastodon/commit/b2f393089d0347f601bced03f52e96098a0b92d4

[2017-04-12 19:52] ashyon commented on #17
I already did a revert commit so you can just pull that

[2017-04-12 19:52] ashyon commented on #17
That way we'll still have the commits from afterward @lynnco

[2017-04-12 19:54] lynnco commented on #17
oh, this one? I assumed from the name that it only reverted the logo and not also the theme color https://github.com/TootCat/mastodon/commit/430f9269d5c007196e41d2fddc85a19a9c4f6d92

[2017-04-12 19:54] ashyon commented on #17
Yeah I had forgotten to commit the theme color before I changed the logo so they were both in the same commit

[2017-04-12 20:19] lynnco commented on #17
Resolved! We can start re-appraising the theme change as a seperate issue

[2017-04-13 00:02] lynncyrin opened #19 "Create a support / announcement / mods account"

[2017-04-13 00:08] lynnco commented on #19
would it be too invasive to also suggest this account as an autofollow?

or less invasively, to add a link to it in the sidebar somewhere

[2017-04-13 00:21] ubiquill commented on #19
What if we added a call to action to the empty notifications section?

[2017-04-13 00:21] wavebeem commented on #19
That's clever

On Wed, Apr 12, 2017, 17:21 Briar Rose Schreiber <notifications@github.com>
wrote:

[2017-04-14 07:49] ubiquill opened #21 "Compose box does not appear in mobile view"
after the most recent UI tweaks  I can no longer see the compose area in the mobile view. I checked on Mastodon.social and I can still see it there. So, this appears to be one of our changes.

* * * *

- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.

[2017-04-14 07:52] wavebeem commented on #21
Oh no. Definitely happening for me too.

On Fri, Apr 14, 2017, 00:49 Briar Rose Schreiber <notifications@github.com>
wrote:

[2017-04-14 08:09] ubiquill commented on #21
is fixed now

[2017-04-14 08:09] #21 closed

[2017-04-14 13:24] ashyon commented on #21
Sorry bout that, my fault

[2017-04-14 22:23] polymerwitch opened #22 "Set favicon to a branded image"
This image was suggested as a possibility: https://www.goodfreephotos.com/vector-images/black-cat-with-big-head-vector-clipart.png.php

* * * *

- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.

[2017-04-14 23:18] ashyon commented on #22
We could use that but maybe change the color? If it's still black it's easy to get lost with the other favicons in your tab bar...

[2017-04-14 23:26] wavebeem commented on #22
Sticking it on a white background would help too. I could help with that if
needed.

On Fri, Apr 14, 2017, 16:18 Ash <notifications@github.com> wrote:

[2017-04-21 20:13] EmilePouget opened #25 "onion-service for toot.cat"
You can already sign up at toot.cat pseudonymously as tor-exits are not blocked, this is good.
A nice feature for further metadata reduction could be to offer an .onion for toot.cat.

I'm not sure if you will have problems with #11 when this is applied, but I guess the amount of people
who will use the .onion can be considerably low.
One requirement for myself is to use services and networks which

[2017-04-22 00:22] EmilePouget commented on #13
Including late night mistakes and casual language, how about:

We encourage independent artists or people in jobs otherwise dependent on self-promotion to use our platform for occasional (note: needs better wording for something which avoids a constant flood of what could be considered spam) advertisment from their profiles. Needs better wording: Big business, like for example: ebay, facebook, wal

[2017-04-22 03:05] wavebeem commented on #13
That seems like a reasonable angle to me

On Fri, Apr 21, 2017, 17:22 ng0 <notifications@github.com> wrote:

[2017-04-22 03:44] wavebeem commented on #25
I don't actually know what the IPs are used for? Does anyone else?

[2017-04-22 11:18] EmilePouget commented on #13
I think it needs to be more specific, so that arbitrary decisions can be ruled out and people know where the line is drawn. In case the line is too vague, it's not bad because asking wether this is okay should be encouraged (though it is not a welcome effect as long as it can be avoided).

[2017-04-22 14:11] iangreenleaf commented on #13
A couple ideas on how you could frame this:

* You could state that real people who occasionally promote their own work is fine, but accounts dedicated to a company or brand are not.

* You could draw the line at accounts whose *primary* purpose is self-promotion. This wording would make it pretty clear what's available while still leaving you some leeway for "we'll know it when we see it" enforce

[2017-04-22 18:05] EmilePouget commented on #13
A brand could try to be in contact with people who buy their products without advertisment, for example collectives, syndicates, genossenschaften and similar organized groups.
For example Premium produces Cola in Germany and is organized in a collective. I think the possibility for those who don't want to make money from advertisment and still announce occasionally (define: occasionally) news on w

[2017-04-23 01:41] lynncyrin opened #26 "toot.cat translation guide :p"
because its not immediately obvious what

- boops
- meows
- baps

are

[2017-04-23 02:29] lynncyrin opened #27 "add impersonation rules to the CoC"

[2017-04-23 02:34] lynnco commented on #27
also a sub-rule about about impersonating people that we would ban

[2017-04-23 03:12] wavebeem commented on #26
yeahh they are very cute terms but definitely kind of confusing. we're walking a line with them imo.

[2017-04-23 12:26] EmilePouget commented on #25
I think that's an upstream question which should be explained in upstream docs?

[2017-04-24 02:01] lynnco commented on #26
Actually, alternative suggestion, we shouldn't use terms whose meanings aren't immediately obvious, and "baps" definitely counts as that

[2017-04-24 16:17] polymerwitch commented on #26
maybe we should change the alt-text to be standard?

Just as a note: I left all of the report, block, mute terms alone. As I don't want people to get confused.

[2017-04-24 16:21] polymerwitch commented on #26
another idea, create a feline language file. Then have all the terms switched there.

[2017-04-24 16:22] wavebeem commented on #26
Heheh, I kinda like that idea! It could be a fork of English. Then users can easily opt-out.

[2017-04-27 16:53] lynnco commented on #13
Whatever we end up with, I want to explicitly allow posts like https://toot.cat/@audrey/388059

[2017-04-27 18:36] EmilePouget commented on #13
I fully agree :)

[2017-04-27 20:38] lynncyrin opened #28 "Ability to @ all moderators of an instance at once"
most likely needs to be added upstream. will investigate later

[2017-04-27 21:26] polymerwitch commented on #28
I've been coding this up in support bot. So if anyone whos is a non-admin toots @support@toot.cat, then the support bot DMs us a reply to that thread.

[2017-05-01 18:14] lynncyrin opened #29 "Define which Code of Conduct rules apply to federation actions versus local actions"
And any differences in rules / enforcement in federation versus local

[2017-05-01 20:29] lynnco opened #30 "5/1 incident report"
(will write it later)

[2017-05-01 22:09] lynncyrin opened #31 "CoC feedback"

[2017-05-01 23:15] lynncyrin opened #32 "Explicitly allow people to talk about their work experiences in the CoC"

[2017-05-02 00:55] lynncyrin opened #33 "create a new admin channel!"

[2017-05-02 01:42] lynnco commented on #30
in abstract, there was an issue involving 3 users

- user_1@instance_a made a post
- user_2@instance_b replied to the post with harassment
- user_3@instance_b is an admin of instance_b, and more or less furthered the harassment user_2@instance_b started

toot.cat took these actions

- silenced user_2@instance_b and user_3@instance_b
- domain silenced instance_b
- expressed its support for user_1@i

[2017-05-02 01:46] lynnco commented on #30
It's unclear to me whether or not me obfuscating identities is a good policy, so I'm open to feedback on that

[2017-05-02 01:49] polymerwitch commented on #30
since this is public I think it very much should be obfuscated. I'm not even sure that github is the best place to keep reports. I hear you may know of a better place to keep incident reports though ...

[2017-05-02 01:59] #30 closed

[2017-05-02 02:01] lynnco commented on #33
relevant toot https://toot.cat/@cyrinsong/456765

[2017-05-02 02:10] lynncyrin opened #34 "mastodon admin todo"
- adding resolutions to the reports table
- emailing admins when new reports are created
- undoing a report action
- adding comments to the reporting section
- subpeona defense for moderation

[2017-05-02 03:48] lynncyrin opened #35 "Add a CoC rule against content theft"

[2017-05-02 06:11] lynnco opened #36 "revamp of the nudity / sex / kinky rules for toot.cat"
I just had a meeting with @thetinkerfae and we came up with this proposal for the rules regarding nudity / sex / kink. We suggested the CoC be edited to include the following:

---

Nudity is allowed without a CW as long as no genitals or nipples are shown
* If they are visible in the image they must be censored
* Nipple censoring pertains to any gender

Any sexual imagery must be hidden as a sens

[2017-05-02 07:36] saper commented on #36
Question: Why nipples are special? Is this a U.S.-only tradition?

[2017-05-02 08:06] lynncyrin opened #37 "Rule proposal about tech posts"
from: https://toot.cat/@cyrinsong/457805

---

moderation suggestion!

Due to overwhelming feedback about Mastodon's skew towards tech, to the exclusion of other industries and cultures, I have a suggestion. Posts about tech (ex: the source of a python script you wrote) should have a "Tech" (or otherwise context specific) CW, so that people who aren't programmers can be on Mastodon without their T

[2017-05-02 08:16] lynnco commented on #36
@saper it is a cultural norm present in the US

[2017-05-02 12:47] polymerwitch commented on #33
Yes, I would also like a backchannel for non-admins. I don't know if we should be setting that up though, or just leaving it to others.

[2017-05-02 12:52] polymerwitch commented on #36
this is probably covered by just general anti-oppression statements, but maybe it would be worth calling out that DMing uninvited sexual images to someone is a nono. Similarly with gore photos.

[2017-05-02 12:56] polymerwitch commented on #37
Along with source code we should also list "toots that are purely technical in nature".

For example, I've tooted things like "I think the delayed messages we are seeing are from some of the sidekiq queues on other instances not being tuned with enough workers". While it doesn't contain source code I could see that leaving non-tech users out of the conversation.

[2017-05-02 16:55] lynnco commented on #37
That would also be a good post to follow up with a non CWed version that's something like "the servers are having problems connecting to other instances! messages will be delayed for a while" in plain text

[2017-05-02 16:56] lynnco commented on #35
this is partially written into https://github.com/TootCat/mastodon/issues/36, but could stand to be expanded

[2017-05-02 16:57] lynnco commented on #36
Ah yea, I haven't considered the "users mentioned" axis for this issue. I may want to add a sub-section about that, explicitly

[2017-05-02 17:23] aeschright commented on #36
If you're going to say "illegal" you need to define a jurisdiction, since users come from many parts of the world.

[2017-05-02 18:23] lynnco commented on #36
[code]

although this makes me wish most of us were in New Zealand, which has better laws about things like this

[2017-05-02 20:51] saper commented on #36
So Oregon has laws prohibiting bare male nipples? wow

[2017-05-02 20:58] lynnco commented on #36
@saper I can't tell if your comment is a joke or not

but for the sake of information, no, Oregon does not have laws prohibiting bare male nipples.

The law in Portland, Oregon is here https://www.portlandoregon.gov/citycode/article/15423?

[2017-05-02 21:04] saper commented on #36
No, I was genuinely curious.

So this law prohibits exposure of genitalia (breats aren't) in a public space, which is not what we are doing here. Thank you.

[2017-05-03 01:37] lynncyrin opened #38 "federation alliance feature request"
here: https://toot.cat/@cyrinsong/462882

I need to take the time to write it up as a feature request on mastodon-core

[2017-05-03 01:43] lynnco commented on #38
alliances should almost definitely be called herds

[2017-05-03 01:50] lynncyrin opened #39 "public instance blacklist url (eg. toot.cat/blacklist)"
this is another thing that needs to be in mastodon-core

[2017-05-03 06:43] polymerwitch commented on #22
Set the favicon to dabcat

[2017-05-03 06:43] #22 closed

[2017-05-03 15:24] lynncyrin opened #40 "investigate if users on suspended instances can still see your toots"
[Issue text goes here].

* * * *

- [ ] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [ ] This bug happens on a [tagged release](https://github.com/tootsuite/mastodon/releases) and not on `master` (If you're a user, don't worry about this).

[2017-05-03 16:08] polymerwitch opened #41 "Add option to require authentication to see public toots"
Currently, non authenticated users can see public toots on our server by visiting the url (linked by clicking the toot timestamp). This allows blocked users to view toots. These toots would still be visible on third party instances (for example if there was a thread with mentions of toot.cat, witches.town, and banned.space, and toot.cat had banned.space instance blocked but witches.town did not, t

[2017-05-03 16:14] polymerwitch commented on #41
should also block unauthenticated access to public api endpoints

[2017-05-03 16:20] polymerwitch commented on #41
This commit does what I'm looking for https://github.com/phildini/mastodon/commit/6d3d10413ee2eeb5865102877367e7cf9736a5d1

[2017-05-03 16:26] lynnco commented on #41
will it still block viewing for witches.town users if they're logged in ?

[2017-05-03 16:26] lynnco commented on #41
also this seems like a good reason to work on programmatic instance banlist sharing

[2017-05-03 16:44] polymerwitch commented on #41
witches.town users will be able to see the toots from toot.cat on witches.town, but they will not be able to see them on toot.cat

[2017-05-03 16:44] polymerwitch commented on #41
I'm not sure if making the api endpoints auth only breaks federation.

[2017-05-03 16:53] lynnco commented on #41
because you'd have to have a toot.cat login to auth with the toot.cat server, yea?

[2017-05-03 17:08] polymerwitch commented on #41
yeah, but our toots are federated out to instances like witches.town. So, they could still see the toots that federated there

[2017-05-03 18:48] polymerwitch opened #42 "Opt-in to which instances toot.cat is federated"
Instead of federating with instances by default this would create an Allowed List of instances with which we can update overtime.

* * * *

- [ ] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [ ] This bug happens on a [tagged release](https://github.com/tootsuite/mastodon/releases) and not on `master` (If you're a user, don't worry about this).

[2017-05-03 18:50] lynnco commented on #42
Did you get a look at the code awoo.space uses for this ?

[2017-05-03 18:58] polymerwitch commented on #42
@lynnco yes, there is some interesting stuff here: https://github.com/phildini/mastodon/tree/private-mastodon

it includes things like only letting authed users see public toots and profiles

[2017-05-03 19:11] lynncyrin opened #43 "(black / white)list terminology alternatives!"
they should be the same length, and present a (yes / no) dichotomy

5 chars is preferred as that's the current length

(6 chars)
- permit / reject

**(5 chars)**
- allow / block (a "blocklist" term is likely already in use)

(4 chars)
- safe / deny
- auth / deny (hard to say out loud)

(2 chars)
- go / no

[2017-05-03 19:29] bit-mancer commented on #43
2 chars!

go / no

(golist/nolist sort of rolls off the tongue, but they're so short I'm not sure how descriptive/useful these would actually be...)

[2017-05-03 19:39] bit-mancer commented on #42
I like this! Auto-federation is likely going to end up being an issue if any groups ever commit to sustained harassment of the platform...

Also +1 on requiring auth -- in the context of the search discussion today, there's currently nothing stopping someone from bypassing federation entirely and scrapping the .atom feeds to get every non-direct message if they are so inclined.

[2017-05-04 16:08] wavebeem commented on #42
I think this is probably a good idea. I can see how some people might be upset at this being exclusionary towards new instances, but honestly I think the pros outweigh the cons here?

[2017-05-05 00:38] jonpincus commented on #43
How important is it that they be the same length?  Access Control Lists (ACLs) often use **allow** and **deny**.

If it is important for them to be the same length, I would go with **allow** and *block*.  "Safe" gives the wrong impression - it's more confident than is warranted in most situations.

[2017-05-05 00:51] lynnco commented on #43
Them being the same length is primarily useful for refactoring, in that it will mean a much smaller diff in effected code.

I added a note about 5 letter combos being preferred for that same reason

[2017-05-05 01:07] jonpincus commented on #43
Thinks to self: how does that work from an internationalization perspective?

But, okay, it is what it is.  It sounds like allow/block is the best bet.  And as an added bonus, it will work for the Oulipians!

[2017-05-05 02:50] wavebeem commented on #43
I still think allow/deny is best... how is the length going to affect the diff?

[2017-05-05 09:25] EmilePouget opened #44 "Remove "follows" and "followers""
This is an upstream task, but I'd like to gather some more input from your side first.

I'd like at some point have the Followers and Follows removed from the profile view.

The benefits are:
* Gamification of social is removed to the extent which is possible
* Who follows who? Who's talking to who? etc in other words the social graph is no longer exposed to those who shouldn't care

* The downsid

[2017-05-05 09:48] EmilePouget commented on #1
Isn't this what the favicon is right now?

Then there's an improvement suggestion I have: the background shouldn't be plain white but rather transparent.

[2017-05-05 10:57] EmilePouget opened #45 "ContenWarnings and their limitations"
I wrote this in the discussion about @lynnco proposal for putting sourcecode discussions under CW:

This thread is about discussion of sourcec., I agree to this. As my personal motivat. on a platform whic hspeaks to the public to some degree is to inform about certain things and try to do it in an easy language, general talk about technology shouldn't be CW. 500 chars are a limitation here to expl

[2017-05-05 15:34] wavebeem commented on #1
Maybe it looks better on a retina screen but on a normal density one I can't even tell what the image is supposed to be either. I could probably do some cleanup on the icon to make it a bit more legible at smaller sizes, including removing the white square background.

[2017-05-05 15:47] wavebeem commented on #44
It's still important to know if people have a lot of followers in case they boost you are you are worried they might boost you. From a potential harassment angle this is useful information for sure. Thoughts @lynnco @polymerwitch @ashkitten ?

[2017-05-28 19:18] lynncyrin opened #46 "User post-create settings"
It would be nice to set certain user default settings (for example: disabling gif autoplay) for our server

[2017-05-28 19:46] lynnco commented on #36
added to https://github.com/TootCat/mastodon/wiki/Code-of-Conduct

[2017-05-28 19:46] #36 closed

[2017-05-28 19:48] lynncyrin opened #47 "add a short form CoC to the homepage about about/more"

[2017-05-28 19:49] lynnco commented on #47
b/c the long form CoC is waaaaaay too long

[2017-06-14 14:24] mkzero commented on #43
Why would you replace the well-known terminology though? This issue has no word about the *why*...?

[2017-06-14 14:27] jonpincus commented on #43
Because it has racialized overtones - black = bad, keep them out!  white = everything is cool.

It's a great example of an unintentional microagression embedded in the code (and the language we use for the software), so I'm all in favor of changing it.

[2017-06-14 15:30] mkzero commented on #13
Even if they advertise - there's one simple thing you can do if that's not your thing: Unfollow/Block them. Maybe people want to get to that shop? Or just introduce a flag to Upstream that allows to say "I do advertisement by the definition of [insert definition]" and allow users just to block that instead of going around and blocking instances because they allow brands or companies to simply exis

[2017-06-17 23:34] mkzero commented on #43
How racist could you be, to say "black = bad"? And what kind of mindset makes you think supporting that definition will make it less valid?

[2017-06-23 00:48] strand commented on #40
Can they?

[2017-06-23 00:59] strand commented on #43
Folks find these terms offensive @mkzero. You may not, but others do, and it's disrespectful to feign doubt about their judgment.

[2017-06-23 01:01] strand commented on #43
As long are the terms are consistent, I don't think the specific choice is that important.

That being said I prefer blocklist and safelist, because they are self evidently descriptive.

[2017-06-23 07:43] lynncyrin opened #49 "enable travis ci for this repo"

[2017-06-23 08:25] lynnco commented on #40
oh, I dunno. I'm not sure why I closed this either

[2017-06-23 08:26] lynnco commented on #40
closing github issues on my sleep over here

[2017-06-23 18:58] lynncyrin opened #50 "CoC updates for ableism"
WIP

[2017-06-23 18:58] lynnco commented on #50
will end up looking similar to https://github.com/TootCat/mastodon/issues/36

[2017-06-23 18:59] lynnco commented on #50
inspired by https://toot.cat/@cripcat/963874

[2017-06-23 19:04] lynnco commented on #49
@polymerwitch I just sent an access request for this!

[2017-06-23 19:22] lynncyrin opened #51 "Add attribution notes to the Code of Conduct"
ex mention that @thetinkerfae was a core part of the creation of https://github.com/TootCat/mastodon/issues/36

[2017-06-27 09:33] mkzero commented on #43
But don't you see how seeing those as offensive is only possible by thinking like a racist?

What is a safelist, though? Does it save things to memory? Probably "things that are safe to use"? What is safe to use? Whitelists aren't inherently "safe", they are just lists compiled of items an operator always wants to pass. For that matter and by that logic it'd be "blocklist" and "passlist" which jus

[2017-06-27 13:52] iangreenleaf commented on #43
@mkzero serious question: why are you putting so much effort into arguing with people on the internet to keep these terms? They are made-up words in the first place, used out of their original context, with equal or lesser explanatory power than most of the proposed alternatives. Why is it so important to you that we keep the old terms?

[2017-06-27 16:40] strand commented on #43
Given that @mkzero's [only comments on tootcat/mastodon issues](https://github.com/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+commenter%3Amkzero+repo%3Atootcat%2Fmastodon) are contradicting that an issue created by a maintainer is in fact an issue, I would characterize  their behavior as trolling. If @mkzero wants to contribute to the project, they can, but they haven't been adding any useful to

[2017-06-27 23:29] mkzero commented on #43
@iangreenleaf because as a non-native English speaker with a lot of friends who have less advanced English skills I know the difficulties of people using other terms than those already established. And as I pointed out in my comment above, these proposed alternatives aren't necessarily self-explaining or trouble-free. The initial issue was someone voicing racism and now you don't even see who chan

[2017-06-28 02:18] iangreenleaf commented on #43
@mkzero if your primary motivation in arguing this is concern for non-native English speakers, shouldn't we be able to find you arguing elsewhere on the web with equal fervor against terms like "monad", "monkey patch", "duck typing", "splat", "comprehensions", "tweet", "googling", "alt-right", "flash mob", "torrent", and "podcast"? After all, these are words that are relatively new, have poor expl

[2017-06-28 05:01] lynnco commented on #43
Without having to get into the definition of "trolling" - the way that you are commenting on our issues @mkzero is not sparking productive discussions. Please take a break from commenting in this repo, in the interest of having all of us doing more productive work in our free time.

[2017-06-28 09:10] mkzero commented on #43
@iangreenleaf Those are new words, which are adopted a lot faster, not words that have been in a similar use for several hundred years and which permeated through different languages in one way or another. Take German or Russian for example - the translation for blacklist is literal in both, meaning you can translate "blacklist" with basic vocabulary to the direct translation of that *exact* meani

[2019-06-22 22:55] lynncyrin commented on #50
I'm closing a bunch of my older github issues ♻️  feel free to open a new issue describing this same change! Or re-open this one, if someone is still interested in working on it 📝

[2019-06-22 22:55] #50 closed

[2019-06-22 22:56] lynncyrin commented on #51
I'm closing a bunch of my older github issues ♻️  feel free to open a new issue describing this same change! Or re-open this one, if someone is still interested in working on it 📝

[2019-06-22 22:56] #51 closed

[2019-06-22 22:56] lynncyrin commented on #2
I'm closing a bunch of my older github issues ♻️  feel free to open a new issue describing this same change! Or re-open this one, if someone is still interested in working on it 📝

[2019-06-22 22:56] #2 closed

[2019-06-22 22:56] lynncyrin commented on #29
I'm closing a bunch of my older github issues ♻️  feel free to open a new issue describing this same change! Or re-open this one, if someone is still interested in working on it 📝

[2019-06-22 22:56] #29 closed

[2019-06-22 22:56] lynncyrin commented on #31
I'm closing a bunch of my older github issues ♻️  feel free to open a new issue describing this same change! Or re-open this one, if someone is still interested in working on it 📝

[2019-06-22 22:56] #31 closed

[2019-06-22 22:56] lynncyrin commented on #32
I'm closing a bunch of my older github issues ♻️  feel free to open a new issue describing this same change! Or re-open this one, if someone is still interested in working on it 📝

[2019-06-22 22:56] #32 closed

[2019-06-22 22:57] lynncyrin commented on #34
I'm closing a bunch of my older github issues ♻️  feel free to open a new issue describing this same change! Or re-open this one, if someone is still interested in working on it 📝

[2019-06-22 22:57] #34 closed

[2019-06-22 22:57] lynncyrin commented on #35
I'm closing a bunch of my older github issues ♻️  feel free to open a new issue describing this same change! Or re-open this one, if someone is still interested in working on it 📝

[2019-06-22 22:57] #35 closed

[2019-06-22 22:57] lynncyrin commented on #38
I'm closing a bunch of my older github issues ♻️  feel free to open a new issue describing this same change! Or re-open this one, if someone is still interested in working on it 📝

[2019-06-22 22:57] #38 closed

[2019-06-22 22:57] lynncyrin commented on #39
I'm closing a bunch of my older github issues ♻️  feel free to open a new issue describing this same change! Or re-open this one, if someone is still interested in working on it 📝

[2019-06-22 22:57] #39 closed

[2019-06-22 22:57] lynncyrin commented on #46
I'm closing a bunch of my older github issues ♻️  feel free to open a new issue describing this same change! Or re-open this one, if someone is still interested in working on it 📝

[2019-06-22 22:57] #46 closed

[2019-06-22 22:57] lynncyrin commented on #47
I'm closing a bunch of my older github issues ♻️  feel free to open a new issue describing this same change! Or re-open this one, if someone is still interested in working on it 📝

[2019-06-22 22:57] #47 closed

[2019-06-22 22:57] lynncyrin commented on #49
I'm closing a bunch of my older github issues ♻️  feel free to open a new issue describing this same change! Or re-open this one, if someone is still interested in working on it 📝

[2019-06-22 22:57] #49 closed

[2019-06-22 22:57] lynncyrin commented on #40
I'm closing a bunch of my older github issues ♻️  feel free to open a new issue describing this same change! Or re-open this one, if someone is still interested in working on it 📝

[2019-06-22 22:57] #40 closed

[2019-08-15 03:35] #1 closed

[2019-08-15 03:35] #4 closed

[2019-08-15 03:35] #13 closed

[2019-08-15 03:35] #17 closed

[2019-08-15 03:35] #19 closed

[2019-08-15 03:35] #26 closed

[2019-08-15 03:35] #27 closed

[2019-08-15 03:35] #28 closed

[2019-08-15 03:35] #33 closed

[2019-08-15 03:35] #37 closed

[2019-08-15 03:35] #43 closed

[2019-08-19 19:27] strand commented on #43
Disappointed that this issue was not responded to by a maintainer.

[2019-08-19 19:30] lynncyrin commented on #43
It's not clear from this github issue, but none of us have worked on this since 2017. There's not a whole lot we (the people who started this thread) can do here
![image](https://user-images.githubusercontent.com/5768468/63293486-0ad5e000-c27d-11e9-9f87-c0c863684fd4.png)

[2019-08-19 19:31] lynncyrin commented on #43
It's also not even clear if https://toot.cat/ is actually even connected to this github repository anymore 🤷‍♀